body {
  width: 100%;
  height: 100%;
  background: #ffffff url(../images/cold-night.jpg);
  background-size: cover;
}
body .off-canvas-wrap {
  height: 100%;
}
body .off-canvas-wrap .inner-wrap {
  height: 100%;
}
.loader {
  width: 48%;
  position: absolute;
  left: 27%;
}
.loader img {
  margin: 0 auto;
  display: block;
}
#ViewStates {
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}
button {
  outline: transparent !important;
}
.material-button-fab {
  position: absolute;
  top: 130px;
  right: 5px;
  border-radius: 30px !important;
  width: 60px;
  display: block;
  padding: 20px;
  z-index: 10;
  box-shadow: 0px 2px 4px #000;
  background-color: #C00000;
}
.material-button-fab-top {
  position: absolute;
  top: 0px;
  right: 5px;
  border-radius: 30px !important;
  width: 60px;
  display: block;
  padding: 29px;
  z-index: 10;
  box-shadow: 0px 2px 4px #000;
}
.material-button-fab-top:hover,
.material-button-fab-top:focus {
  background-color: #ffffff;
}
.shadow {
  box-shadow: 0px 2px 4px #000;
}
.cbutton {
  position: relative;
  width: 50%;
  display: block;
  float: left;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  color: #ffffff;
  text-align: left;
  padding: 10px 10px;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1988b8, #0471a0);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1988b8, #0471a0);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1988b8, #0471a0);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1988b8, #0471a0);
  /* Standard syntax */
}
.cbutton .icon {
  position: absolute;
  right: 10px;
  top: 0px;
  background: url(../images/icons_sprites.png) no-repeat -110px -18px;
  width: 30px;
  height: 65px;
  display: block;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
}
.cbutton:active,
.cbutton:hover,
.cbutton:visited {
  color: #ffffff;
}
.cbutton:active .icon,
.cbutton:hover .icon,
.cbutton:visited .icon {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
#footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #1988B8;
}
#footer-nav .controls {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}
#footer-nav .controls .button {
  width: 49%;
}
#header-nav {
  height: 50px;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #1988B8;
}
#header-nav .controls {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}
#header-nav .controls .menu-button {
  float: left;
}
#header-nav .controls .back-button {
  float: right;
}
.header-alert {
  height: 49px;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #1988B8;
}
#emailListing {
  margin: 0;
  list-style: none;
}
#emailListing li {
  overflow: hidden;
  background-color: #ffffff;
  cursor: pointer;
  *cursor: hand;
  float: left;
  width: 50%;
  max-height: 180px;
  height: 100%;
}
#emailListing li h4 {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
#emailListing li h5 {
  text-align: center;
  font-size: 12px;
}
#emailListing li:hover img {
  box-shadow: 0px 6px 8px -2px #000000;
}
#emailListing .selected,
#emailListing .selected:hover {
  background-color: #008cba;
}
#emailListing .selected img {
  box-shadow: 0px 6px 8px -2px #000000;
}
#emailListing .selected h4,
#emailListing .selected h5 {
  color: #ffffff;
}
