<div>
    <h1 class="page-title">Diesel Page</h1>
    <fieldset>
        <legend>Form Components</legend>
        // date input
        <div class="form-item">
            <label>Date
                <input id="example-date" type="date" placeholder="Enter date">
            </label>
        </div>

        // text input
        <div class="form-item">
            <label>Input Label
                <input type="text" placeholder="Inputs and other form elements go inside...">
            </label>
        </div>

        // switch
        <div class="form-item switch radius">
            <input id="exampleRadioSwitch2" type="checkbox" name="check-item">
            <label for="exampleRadioSwitch2"></label>
        </div>

        // dropdown native
        <div class="form-item">
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>

    </fieldset>
</div>