<div>
    <h1 class="page-title">Plant processing</h1>
    <div class="button-container">
        <a href="#plant/capture-start-time" class="button radius full-width">Capture Start Time</a>
        <a href="#plant/capture-stop-time" class="button radius full-width">Capture Stop Time</a>
        <a href="#plant/receive-plant" class="button radius full-width">Receive Plant</a>
        <a href="#plant/update-plant" class="button radius full-width">Update Plant</a>
        <a href="#plant/return-plant" class="button radius full-width">Return Plant</a>
    </div>
</div>
