<h1>Settings</h1>
<div>
	<h1></h1>
	<form name="settingsForm" ng-submit="updateSettings()">
		<fieldset>
			<legend>Update settings</legend>
			
			<div class="row">
				<div class="small-8 columns">
					<label>Name</label>
					<input type="text" name="name" placeholder="Name" ng-model="settings.name" ng-minlength=3 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/" required/>
					<div ng-show="settingsForm.name.$dirty && settingsForm.name.$invalid">						
						<div ng-show="settingsForm.name.$error.required">Your name is required</div>
						<div ng-show="settingsForm.name.$error.minlength">Your name must be greater than 3 characters</div>
						<div ng-show="settingsForm.name.$error.maxlength">Your name must be less than 20 characters</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="small-8 columns">
					<label>Email</label>
					<input type="email" name="email" placeholder="Email" ng-model="settings.email"/>
					<div ng-show="settingsForm.email.$dirty && settingsForm.email.$invalid">						
						<div ng-show="settingsForm.email.$error.email">There is an error with the email</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="small-8 columns">
					<label>Age</label>
					<input type="number" name="age" placeholder="Age" ng-model="settings.age" min=3 max=199/>
					<div ng-show="settingsForm.age.$dirty && settingsForm.age.$invalid">						
						<div ng-show="settingsForm.age.$error.min">You must be at least 3 to use this site</div>
						<div ng-show="settingsForm.age.$error.max">No way you still alive</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="push-9 small-3">
					<button type="submit" class="button" ng-disabled="settingsForm.$dirty && settingsForm.$invalid">Update</button>
				</div>
			</div>
			
		</fieldset>
	</form>
</div>

